/* Desktop */
@media screen and (min-width: 601px) {
    .hide-desktop {
        display: none;
        overflow: hidden;
    }
}

/* Mobile */
@media screen and (max-width: 600px) {
    .hide-mobile {
        display: none;
        overflow: hidden;
    }

    .content {
        padding: 5rem 2.5rem;
    }

    header {
        padding: 2rem 2rem;
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    body::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
    }

    .navbar {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .song-img-hero {
        width: 25rem;
    }

    .video-card img {
        width: 35rem;
        height: auto;
    }

    .mais-dinorath-section {
        align-items: center;
        justify-content: center;
    }

    /*Bio*/
    .bio-text {
        font-size: var(--small-sz);
        line-height: 23.99px;
    }

    .bio .bio-text {
        width: 100%;
    }

    .silver-icon {
        width: 8rem;
    }

    .bio-content {
        flex-direction: column-reverse;
        height: auto;
    }

    .bio-content h1 {
        font-size: var(--mid-sz);
        padding: 2rem 0;
    }

    .bio-content:nth-child(3),
    .bio-content:last-child {
        flex-direction: column;
    }

    .bio-section-content {
        width: 90%;
    }

    .ms-list {
        font-size: var(--small-sz);
        padding-left: 2rem;
    }

    .ms-list li {
        padding-bottom: 1rem;
    }

    .contact-section {
        height: 90vh;
    }

    /*Footer*/
    .footer-section {
        flex-direction: column-reverse;
        padding: 1.5rem 2.5rem;
        gap: 1rem;
        z-index: 1050;
        background: #000;
    }

    .social-links-area {
        align-items: start;
        gap: 1rem;
    }

    /*Fotos*/
    .swiper-slide.active {
        transform: scale(1.2) translateX(-5.6rem);
    }

    .swiper-slide.active .photo-slide-img {
        width: 190%;
    }


    .card-navgator {
        margin-top: -15rem;
    }

    /* Contact Form */
    form{
        gap: 1.6rem;
        width: 70%;
    }

    .form-input{
        width: 100%;
    }

    input,
    textarea {
        outline: none;
        background-color: transparent;
        border: solid 1px transparent;
        color: var(--white-color);
        padding: 0.5rem;
        width: 100%;
        font-size: var(--small-sz);
        min-height: 3rem;
    }
}

.menu-mobile-section {
    gap: 2rem;
}

.menu-button {
    position: fixed;
    z-index: 1001;
    border-radius: 50%;
    padding: 1rem;
    bottom: 2rem;
    border: 0.01rem solid var(--second-color);
    background: #00000025;
    backdrop-filter: blur(3px);
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

.menu-button.fixed-position {
    bottom: 2rem;
    right: 2rem;
    left: auto;
    transform: none;
}

.menu-button .silver-icon {
    width: 5rem;
    position: relative;
}

/* Menu Mobile */
.menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    gap: 2.4rem;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100vh);
    transition: opacity 0.9s ease, visibility 0.5s ease, transform 0.6s ease;
}

.menu-mobile.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* IOS */
.menu-mobile {
    -webkit-transform: translateY(100vh);
    -webkit-transition: opacity 0.9s ease, visibility 0.5s ease, -webkit-transform 0.6s ease;
    transition: opacity 0.9s ease, visibility 0.5s ease, transform 0.6s ease;
}

.menu-mobile.show {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}


/* Contact from */

video {
    width: 100%;
    height: auto;
}

video::-webkit-media-controls {
    display: none !important;
}

video::-moz-media-controls {
    display: none !important;
}

video::-ms-media-controls {
    display: none !important;
}

video::-o-media-controls {
    display: none !important;
}