.btn{
    border: solid 1px var(--white-color);
    color: var(--white-color);
    border-radius: var(--button-radius);
    font-size: var(--small-sz);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 2rem;
    gap: 0.5rem;
}

.btn:hover{
    background-color: var(--white-color);
    color: var(--primary-color);
    transition: all 0.3s ease-in-out;
    gap: 0.2rem;
}

.btn:hover>.icon,
.big-card:hover>.icon{
    color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}

/* Title */
.title{
    font-size: var(--mid-sz);
    border-bottom: solid 5px var(--second-color);
    font-weight: bold;
    margin-bottom: 1rem;
    max-width: 10%;
}

.title-section{
}

/* Cards */
/* borders */
.cl-border{
    border:solid 5px var(--black-color);
    border-top-color: var(--second-color);
    border-left-color: var(--second-color);
}

.c-border{
    border:solid 5px var(--black-color);
    border-top-color: var(--second-color);
    border-bottom-color: var(--second-color);
}

.cr-border{
    border:solid 5px var(--black-color);
    border-bottom-color: var(--second-color);
    border-right-color: var(--second-color);
}

/* borders */
.youtube-b{
    border:solid 5px var(--black-color);
    border-top-color: #FF0302;
    border-left-color: #FF0302;
}

.applemusic-b{
    border:solid 5px var(--black-color);
    border-top-color: #FD5166;
    border-bottom-color: #FD5166;
}

.spotify-b{
    border:solid 5px var(--black-color);
    border-bottom-color: #1ED760;
    border-right-color: #1ED760;
}

/* Cards sextion */
.cards-section{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.cards-arrow{
    position: relative;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.cards-arrow .slide-arrow{
    font-size: var(--big-sz);
    color: var(--second-color);
}


/* Cards Type */
.big-card{
    background-color: var(--black-color);
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 2rem;
    width: 30rem;
    height: 45rem;
}

.stream-card{
    background-color: #FFFFFF10;
}

.card-title{
    font-size: var(--small-sz);
    color: var(--white-color);
}
.card-link{
    font-size: var(--vsmall-sz);
    color: var(--white-color);
    display: flex;
    align-items: center;
    gap: 5px;
}

.big-card:hover{
    border-color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}

.big-card:hover>.card-link{
    color: var(--primary-color);
    gap: 3px;
    transition: all 0.3s ease-in-out;
}

.big-card:hover>.card-link .icon{
    color: var(--primary-color);
}

.youtube-b:hover{
    border:solid 5px #FF0302;
}

.applemusic-b:hover{
    border:solid 5px #FD5166;
}

.spotify-b:hover{
    border:solid 5px #1ED760;
}
.photo-card{
    width: 30rem;
    height: 45rem;
}
.photo-slide-img{
    border:solid 5px transparent;
    border-top-color: var(--white-color);
    border-left-color: var(--white-color);
}


/* Premios */
.premio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10rem;
    gap: 2.4rem;
}

.premio-card{
    overflow: hidden;
    width: 30rem;
    height: 30rem;
}

.premio-bg{
    height: 100%;
}

.premio-info{
    top: 80%;
}