@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
/* @font-face {
    font-family: 'PlayfairDisplay';
    src: url('../fonts/PlayfairDisplay-VariableFont_wght.ttf') format('ttf'), ;
    font-display: swap;
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "New Amsterdam", sans-serif;
    font-optical-sizing: auto;
    text-decoration: none;
    list-style-type: none;
}

html {
    font-size: 60.3%;
    background-color: var(--black-color);
    color: var(--white-color);
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    position: relative;
    user-select: none;
}

/* Header */
header {
    padding: 2rem 10rem;
    width: 100%;
    position: absolute;
    z-index: 100;
}

.navbar {
    width: 100%;
    list-style: none;
}

.nav-link .link {
    font-size: var(--small-sz);
}

/* Hero Section */
.hero-section {
    background-image: linear-gradient(180deg, rgba(213, 56, 10, 0.5) 86.02%, #D5380A 100%), url(https://supaservicos.github.io/chelsea-content/img/photos/IMG_2268.webp);
    background-size: cover;
    background-attachment: fixed;
    gap: 2.4rem;
}

/* Lançamentos */
.lancamentos-section {
    background-image: linear-gradient(180deg, var(--primary-color), var(--black-color));
}

.lancamentos-cards {
    gap: 2.4rem;
}

.lancamento-card {
    overflow: hidden;
    position: relative;
    top: -2rem;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    filter: brightness(0.7);
}

.card-content {
    position: relative;
    z-index: 1;
    top: 90%;
    padding: 1rem;
    height: 100%;
}



/* Vídeo */
.videos-section {
    background-size: cover;
    background-position: center;
    z-index: 1;
    position: relative;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.6);
    /* Layer escura */
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
    z-index: -1;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.video-card-section {
    width: 100%;
    height: 100%;
}

.video-card-section .video-card {
    gap: 1.6rem;
    width: 50rem;
    height: 35rem;
    position: absolute;
    opacity: 0;
    display: none;
    transform: scale(0.95);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}


.video-card.active {
    opacity: 1;
    display: flex;
    transform: scale(1);
}

.video-card:hover {
    filter: brightness(0.6);
    transition: all 200ms ease-in-out;
}

.video-card img {
    width: 50rem;
    height: 30rem;
    /* border: 1px solid var(--white-color); */
    border-radius: 1rem;
}

.card-navigator {
    width: 100%;
    display: flex;
    gap: 2rem;
}

.dot {
    width: 1rem;
    height: 1rem;
    margin: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    cursor: pointer;
}

.dot.active {
    opacity: 1;
}

/* stream cards */
.stream-cards {
    gap: 2.4rem;
}

.stream-card {
    gap: 3rem;
}

.stream-card .card-img {
    background-color: #d9d9d9;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.stream-card .card-info {
    gap: 1rem;
    color: var(--white-color)
}


/*Mais Dinorath*/
.mais-dinorath-section {
    display: flex;
    height: 100vh;
    scroll-snap-align: start;
}

.left-side {
    background: linear-gradient(180deg, #12121285 70%, #12121263 90%), url(https://supaservicos.github.io/chelsea-content/img/photos/IMG_2256.webp);
    background-size: cover;
    width: 50%;
    padding: 5rem 10rem;
}

.rigth-side {
    width: 50%;
    gap: 2.4rem;
}

.left-side .title-section {
    width: 30%
}

.left-side .title-section .title-more {
    font-size: var(--mid-sz);
    border-bottom: solid 5px var(--primary-color);
    font-weight: bold;
    margin-bottom: 1rem;
}


.menu-list {
    gap: 2rem;
}

.menu-list li .link {
    font-size: 2rem;
}

/*Bio */

.bio {
    background-image: linear-gradient(180deg, #12121245 70%, #12121245 90%), url(https://supaservicos.github.io/chelsea-content/img/photos/IMG_2251.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    gap: 2rem;
}

.bio .bio-text {
    width: 60%;
}

.silver-icon {
    width: 10rem;
}

.bio-text {
    font-size: var(--mid-sz);
    line-height: 31.99px;
    text-shadow: 0px 0px 10px #000;
}

.bio-content h1 {
    font-size: var(--big-sz);
    padding-bottom: 3rem;
}

.bio-img-container {
    width: 35rem;
}

.bio-section-content {
    width: 60%;
}

.bio-img-container img {
    width: 100%;
}

.ms-list {
    list-style: disc;
    gap: 2rem;
    font-size: var(--mid-sz);
    padding-left: 2rem;
}

.ms-list li {
    padding-bottom: 2rem;
}

.contact-section {
    height: 70vh;
    padding: 5rem 10rem;
    scroll-snap-align: start;
}

/*Events*/

.event-hero {
    background: var(--black-color);
    gap: 2rem;
}

/*Fotos*/
.fotos-section {
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(34, 36, 36, 1) 100%), url('https://supaservicos.github.io/chelsea-content/img/photos/IMG_2268.webp');
    background-size: cover;
    background-position: center;
    background-attachment: local;
    gap: 3rem;
    padding: 2rem;
    color: white;
}

.swiper-container{
    margin: auto 0;
}
.swiper-wrapper {
    height: 45rem;
}

.swiper-slide {
    padding: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: scale(0.8);

}

.swiper-slide-active {
    transform: scale(1.2);
    z-index: 10;
    opacity: 1;
}

.swiper-slide.active {
    transform: scale(1.2);
}

.photo-slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.swiper-slide.previous,
.swiper-slide.next {
    transform: scale(1);
}



/*Footer*/
footer {
    height: 15rem;
    padding: 3rem 5rem;
    position: relative;
    bottom: 0;
    scroll-snap-align: start;
}

footer section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social-links-area {
    align-items: end;
}

.social-links {
    gap: 1rem;
}

footer p {
    font-size: var(--small-sz);
}

.supas {
    color: rgba(36, 68, 255, 0.8);
    font-family: "Montserrat", sans-serif;
}


.slide-cards .conjunto,
.slide-cards .premio {
    /* display: none; */
    position: absolute;
}

.slide-cards .conjunto.active,
.slide-cards .premio.active {
    display: flex;
    opacity: 1;
    transform: scale(1);
}

.conjunto,
.premio {
    display: none;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    gap: 0 2.4rem;
}

video {
    pointer-events: none; /* Impede todas as interações do usuário com o vídeo */
    user-select: none; /* Impede a seleção de texto/imagens */
    -webkit-touch-callout: none; /* Evita o menu de toque no iOS */
    -webkit-user-select: none; /* Evita a seleção de texto/imagens no iOS */
    pointer-events: none; /* Bloqueia interação com o vídeo */
    user-select: none;
}

video {
    pointer-events: none; /* Desativa a interação direta com o vídeo */
}

video::-webkit-media-controls {
    display: none !important; /* Esconde os controles de mídia no Safari */
}

video::-webkit-media-controls-enclosure {
    display: none !important;
}

/* Contact Form */
.contactForm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    gap: 2.4rem;
    opacity: 0;
    visibility: hidden;
    display: none;
    overflow: hidden;
    transform: translateY(100vh);
    transition: opacity 0.9s ease, visibility 0.5s ease, transform 0.6s ease;
}

.contactForm.show {
    opacity: 1;
    display: flex;
    visibility: visible;
    transform: translateY(0);
}

#contactClose {
    position: absolute;
    top: 5rem;
    right: 5rem;
    font-size: var(--small-sz);
}

form{
    gap: 1.6rem;
}

button{
    background-color: transparent;
}

input,
textarea{
    outline: none;
    background-color: transparent;
    border: solid 1px transparent;
    color: var(--white-color);
    padding: 0.5rem;
    width: 100%;
    font-size: var(--small-sz);
    min-height: 3rem;
}

.form-input{
    width: 25rem;
    gap: 0.5rem;
}

.form-input label{
    font-size: var(--small-sz);
    color: var(--primary-color);
}

.input {
    transition: border-bottom-color 0.3s ease-in-out;
    border-bottom: 2px solid #353535; /* Cor padrão */
}

.input.error {
    border-bottom-color: red; /* Cor para erro */
}

.input.valid {
    border-bottom-color: var(--primary-color); /* Cor para quando o campo está correto */
}


.form-input textarea{
    border-color: #353535;
    height: 15rem;
    resize: none;
}

.phone-input-container{
    gap: 1rem;
}

.phone-indicative{
    width: 30%;
    border: 1px solid #353535;
}

.phone-number {
    width: 70%;
}

.Newslatter{
    padding: 4rem 2rem;
}

.Newslatter h2{
    text-align: center;
}

.supa-animated {

    /* background: -webkit-linear-gradient(45deg, #2444FF, #24C4FF);

    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent; */

    animation: changeColor 6s linear infinite;

    transition: all .1s ease-in-out;
}

@keyframes changeColor {

    0%,
    100% {
        color: #2444FF;
    }

    33% {
        color: #24C4FF;
    }

    66% {
       color: #040053;
    }
}