@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('../fonts/PlayfairDisplay-VariableFont_wght.ttf') format('ttf'), 
    ;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "PlayfairDisplay", serif;
    font-optical-sizing: auto;
    text-decoration: none;
    list-style-type: none;
}

html {
    font-size: 60.3%;
    background-color: var(--black-color);
    color: var(--white-color);
    height: 100%;
    overflow: hidden;
}
body{
    overflow: hidden;
    position: relative;
}
main{
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
/* Header */
header {
    padding: 2rem 10rem;
    width: 100%;
    position: absolute;
}

.navbar {
    width: 100%;
    list-style: none;
}

.nav-link .link {
    font-size: var(--small-sz);
}

/* Her Sectio */
.hero-section{
    background-image:  linear-gradient(180deg, rgba(213, 56, 10, 0.5) 86.02%, #D5380A 100%), url(https://supaservicos.github.io/chelsea-content/img/photos/IMG_2268.webp);
    background-size: cover;
    background-attachment: fixed;
    gap: 2.4rem;

}

/* Lançamentos */
.lancamentos-section{
    background-image: linear-gradient(180deg, var(--primary-color), var(--black-color));
}

.lancamentos-cards{
    gap: 2.4rem;
}

.lancamento-card{
    overflow: hidden;
    position: relative;
    top:-10%
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    filter: brightness(0.7); 
}

.card-content {
    position: relative;
    z-index: 1;
    top: 90%;
    padding: 1rem;
    height: 100%;
}

.conjunto,
.premio{
    width: 100%;
    height: 100%;
    gap: 0 2.4rem;
}

.slide-cards .conjunto,
.premio {
    display: none;
}

.slide-cards .conjunto.active,
.premio.active {
    display: flex;
}

/* Vídeo */
.videos-section {
    background-size: cover;
    background-position: center;
    z-index: 1;
    position: relative;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.6); /* Layer escura */
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6); 
    z-index: -1;
    opacity: 0; 
    transition: opacity 300ms ease-in-out; 
}

.video-card-section {
    width: 100%;
    height: 100%;
}

.video-card-section .video-card {
    gap: 1.6rem;
    width: 50rem;
    height: 35rem;
    position: absolute;
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out; 
}


.video-card.active {
    display: flex;
    opacity: 1;
    transform: scale(1); 
}

.video-card:hover{
    filter: brightness(0.6); 
    transition:all 200ms ease-in-out;
}

.video-card img {
    width: 50rem;
    height: 30rem;
    /* border: 1px solid var(--white-color); */
    border-radius: 1rem;
}

.card-navigator {
    width: 100%;
    display: flex;
    gap: 2rem;
}

.dot {
    width: 1rem;
    height: 1rem;
    margin: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    cursor: pointer;
}

.dot.active {
    opacity: 1;
}

/* stream cards */
.stream-cards{
    gap: 2.4rem;
}

.stream-card{
    gap: 3rem;
}

.stream-card .card-img {
    background-color: #d9d9d9;
    overflow:hidden;
    width: 100%;
    height: 100%;
}

.stream-card .card-info{
    gap: 1rem;
    color: var(--white-color)
}

/*Mais Dinorath*/
.mais-dinorath-section{
    height: 100vh;
    scroll-snap-align: start;
}

.left-side{
    background: linear-gradient(180deg, #12121285 70%, #12121263 90%), url(https://supaservicos.github.io/chelsea-content/img/photos/IMG_2256.webp) ;
    background-size: cover;
    width: 50%;
    padding: 5rem 10rem;
}

.rigth-side{
    width: 50%;
    gap: 2.4rem;
}

.left-side .title-section{
    width: 30%
}

.left-side .title-section .title-more{
    font-size: var(--mid-sz);
    border-bottom: solid 5px var(--second-color);
    font-weight: bold;
    margin-bottom: 1rem;
}


.menu-list{
    gap: 2rem;
}

.menu-list li .link{
    font-size: 2rem;
}

/*Bio */

.bio{
    background-image: linear-gradient(180deg, #12121245 70%, #12121245 90%), url(https://supaservicos.github.io/chelsea-content/img/photos/IMG_2251.webp);
    background-size: cover;
    background-position: center;
    background-attachment: local;
    gap: 2rem;
}
.bio .bio-text{
    width: 60%;
}
.silver-icon{
    width: 10rem;
}
.bio-text{
    font-size: var(--mid-sz);
    line-height: 31.99px;
    text-shadow: 0px 0px 10px #000;
}
.bio-content h1{
    font-size: var(--big-sz);
    padding-bottom: 3rem;
}
.bio-img-container{
    width: 35rem;
}
.bio-section-content{
    width: 60%;
}
.bio-img-container img{
    width: 100%;
}
.ms-list{
    list-style: disc;
    gap: 2rem;
    font-size: var(--mid-sz);
    padding-left: 2rem;
}
.ms-list li{
   padding-bottom: 2rem; 
}
.contact-section{
    height: 70vh;
    padding: 5rem 10rem;
    scroll-snap-align: start;
}
/*Events*/

.event-hero{
    background: var(--black-color);
    gap: 2rem;
}
/*Fotos*/
.fotos-section{
    background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(159,162,162,0.1601890756302521) 59%, rgba(34,36,36,1) 100%), url(https://supaservicos.github.io/chelsea-content/img/photos/IMG_2268.webp);
    background-size: cover;
    background-position: center;
    background-attachment: local;
    gap: 3rem;
}
.swiper-wrapper{
    height: 45rem;
}
.swiper-slide{
    padding: 1rem;
    cursor: pointer;
}
.photo-slide-img{
    width: 100%;
    object-fit: cover;
}

/*Footer*/ 
footer{
    height: 15rem;
    padding: 3rem 5rem;
}

footer section{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer p{
    font-size: var(--small-sz);
}
.supas{
   color:  rgba(36, 68, 255, 0.8);
   font-family: "Montserrat", sans-serif;
}